# Default landing page
DirectoryIndex {% landing_page %}.html

# Redirections
RewriteEngine on

# Remove .html extension
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.html$ /$1 [L,R=301]


# Force Implicit landing page
RewriteCond {% landing_page %}.html
RewriteRule ^ / [NC,L]
